<img src="{{thumbnail}}" alt="{{title}}" class="book-box-thumbnail">
<h4 class="book-box-title">{{title}}</h4>

<ul class="book-box-authors">
  {{#each authors as |author|}}
    <li class="book-box-authors-author">{{author}}</li>
  {{/each}}
</ul>