<button {{action "openSideNav"}} class="header-menu-btn">
  <div class="icon icon-menu"></div>
</button>

{{#link-to 'index' tagName='h1' class='header-brand cursor-pointer'}}
  Openbooks
{{/link-to}}
