/**
 * Header
*/
.header {

  z-index: $z-index-header;
  // Define a posição do header como fixed
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 0 15px;
  
  background-color: #546E7A;

  // 'Marca' centralizada no mobile
  text-align: center;
  
  @media (min-width: 992px) {
    // 'Marca' à esquerda no tablete/desktop
    text-align: left;
  }

  // Inclui a sombra (mixin no arquivo 'abstracts/_mixins.scss')
  @include shadowElevation(4);

  .header-brand-container {

    $header-brand-height: 24px;
    margin: (($header-height - $header-brand-height) / 2) 0;
    
    & > * {

      vertical-align: middle;
    }

    .header-brand-icon {

      height: $header-brand-height;
      width: auto;
    }

    .header-brand-title {
      
      display: inline-block;
      vertical-align: middle;
      margin: 0;
  
      @include font-semibold($header-brand-height);
      line-height: $header-brand-height;
      color: #fff;
    }
  }


  .container {
    // Relative para o botão abaixo que é absoluto
    position: relative;
  }

  .header-menu-btn {

    display: inline-block;

    @media (min-width: $breakpoint-large) {
      // Esconde o botão no desktop
      display: none;
    }

    // Posição do Botão no header (em relação ao .container)
    position: absolute;
    left: 0;
    top: 0;
    padding: (($header-height - 16px) / 2) 15px;
    //Resets do botão
    background-color: transparent;
    outline: 0;
    border: none;

    cursor: pointer;
    // Opacidade normal
    opacity: 0.75;
    transition: opacity 0.1s;

    &:hover {
      // Opacidade no hover
      opacity: 1;
    }

    .icon {
      // Deixa o icone com a mesma altura do botão
      vertical-align: bottom;
    }
  }
}