// Fonts
$font-family-default: 'Quicksand', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
// Font colors
$font-color-primary: #212121;
$font-color-secondary: #757575;
// Heights
$header-height: 56px;