{{header-top
  onOpenClick=(action 'openSideNav')
}}

{{side-nav
  onCloseClick=(action 'closeSideNav')
  showSideNav=showSideNav
}}

{{#if feedback.show}}
  {{feedback-top
    feedback=feedback
  }}
{{/if}}

<div class="main">
  <div class="container">
    {{outlet}}
  </div>
</div>