{{header-top
  onOpenClick=(action 'openSideNav')
}}

{{side-nav
  onCloseClick=(action 'closeSideNav')
  showSideNav=showSideNav
}}

<div class="main">
  <div class="container">
    {{outlet}}
  </div>
</div>