<div class="index-page">
  {{input value=value class="search-field" placeholder="Insira o ISBN que deseja pesquisar"}}

  <div class="btn-container">
    <button class="btn">Pesquisar</button>
  </div>
</div>
